@model IEnumerable<string>

@{
    ViewBag.Title = "CDError";
}

<h2>Error</h2>
@if (ViewBag.Error == "You can't have more than two credit cards.")
{
    <h3 style="color: red"> @ViewBag.Error</h3>
}
@Html.ActionLink("OK", "Index", null, new { @class = "btn btn-success" })
